.modal-open {
    overflow-y: auto !important;
    padding-right: 0 !important;
    }

  .modal-scrollbar-measure {  
    overflow: hidden;
    }
    .card {
      margin: 0 auto; /* Added */
      float: none; /* Added */
      margin-bottom: 10px; /* Added */
}

h3{
  text-align: center;
  margin-top: 2rem;
  color: cadetblue
}