<div class="flex-container">
<div class="col-sm-4 col-md-4 col-xs-4">

    <div class="thumbnail" style="border:none; background:white;">

    <div>
      <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS2Xjhc-NPN5UAWzKdY3Kpl29Tyt-zCC8aOd3Gez8i2zrF3BS9bSQ" style="height:200px; margin-left:-15px;" />
    </div>

    <div>  

      <h3>Hello World</h3>
       <p style="font-size:10px; color:#03225C;">Insuredmine provides a suite of digital products to help agents enhance customer experience and loyalty, and retain and sell more with the use of our insurance digital wallet, chatbot, agent portal and social media triggers.  </p>
    </div>
    </div>
</div>
<div class="col-sm-4 col-md-4 col-xs-4">

  <div class="thumbnail" style="border:none; background:white;">

  <div>
    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS2Xjhc-NPN5UAWzKdY3Kpl29Tyt-zCC8aOd3Gez8i2zrF3BS9bSQ" style="height:200px; margin-left:-15px;" />
  </div>

  <div>  

    <h3>Hello World</h3>
     <p style="font-size:10px; color:#03225C;">Insuredmine provides a suite of digital products to help agents enhance customer experience and loyalty, and retain and sell more with the use of our insurance digital wallet, chatbot, agent portal and social media triggers.  </p>
  </div>
  </div>
</div>
<div class="col-sm-4 col-md-4 col-xs-4">

  <div class="thumbnail" style="border:none; background:white;">

  <div>
    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS2Xjhc-NPN5UAWzKdY3Kpl29Tyt-zCC8aOd3Gez8i2zrF3BS9bSQ" style="height:200px; margin-left:-15px;" />
  </div>

  <div>  

    <h3>Hello World</h3>
     <p style="font-size:10px; color:#03225C;">Insuredmine provides a suite of digital products to help agents enhance customer experience and loyalty, and retain and sell more with the use of our insurance digital wallet, chatbot, agent portal and social media triggers.  </p>
  </div>
  </div>
</div>
</div>
<div class="flex-container">
  <div class="col-sm-4 col-md-4 col-xs-4">

    <div class="thumbnail" style="border:none; background:white;">
  
    <div>
      <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS2Xjhc-NPN5UAWzKdY3Kpl29Tyt-zCC8aOd3Gez8i2zrF3BS9bSQ" style="height:200px; margin-left:-15px;" />
    </div>
  
    <div>  
  
      <h3>Hello World</h3>
       <p style="font-size:10px; color:#03225C;">Insuredmine provides a suite of digital products to help agents enhance customer experience and loyalty, and retain and sell more with the use of our insurance digital wallet, chatbot, agent portal and social media triggers.  </p>
    </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-xs-4">

    <div class="thumbnail" style="border:none; background:white;">
  
    <div>
      <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS2Xjhc-NPN5UAWzKdY3Kpl29Tyt-zCC8aOd3Gez8i2zrF3BS9bSQ" style="height:200px; margin-left:-15px;" />
    </div>
  
    <div>  
  
      <h3>Hello World</h3>
       <p style="font-size:10px; color:#03225C;">Insuredmine provides a suite of digital products to help agents enhance customer experience and loyalty, and retain and sell more with the use of our insurance digital wallet, chatbot, agent portal and social media triggers.  </p>
    </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-xs-4">

    <div class="thumbnail" style="border:none; background:white;">
  
    <div>
      <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS2Xjhc-NPN5UAWzKdY3Kpl29Tyt-zCC8aOd3Gez8i2zrF3BS9bSQ" style="height:200px; margin-left:-15px;" />
    </div>
  
    <div>  
  
      <h3>Hello World</h3>
       <p style="font-size:10px; color:#03225C;">Insuredmine provides a suite of digital products to help agents enhance customer experience and loyalty, and retain and sell more with the use of our insurance digital wallet, chatbot, agent portal and social media triggers.  </p>
    </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-xs-4">

    <div class="thumbnail" style="border:none; background:white;">
  
    <div>
      <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS2Xjhc-NPN5UAWzKdY3Kpl29Tyt-zCC8aOd3Gez8i2zrF3BS9bSQ" style="height:200px; margin-left:-15px;" />
    </div>
  
    <div>  
  
      <h3>Hello World</h3>
       <p style="font-size:10px; color:#03225C;">Insuredmine provides a suite of digital products to help agents enhance customer experience and loyalty, and retain and sell more with the use of our insurance digital wallet, chatbot, agent portal and social media triggers.  </p>
    </div>
    </div>
  </div>
</div>


