.home{
    width: 20%;
    border: 1px solid;
    background: yellowgreen;
    box-shadow: 1px 1px 1px;
    position: absolute;
    margin-top: -17px;
    margin-left: 22px;
}
.container-fluid{
        padding: 5rem; /* Added */
        float: none; /* Added */
}

h3{
    text-align: center;
    margin-top: 2rem;
    color: cadetblue
  }